* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: #1abc9c;
  --third-color: #3a546d;
  --fourth-color: #2c3e50;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

._no-border {
  border: none;
}

.ms_greenback {
  background-color: var(--secondary-color);
}

.ms_LOCATION-color {
  background-color: var(--third-color);
  color: var(--primary-color);
}

.ms_COPYRIGHT-Color {
  color: var(--primary-color);
  background-color: var(--fourth-color);
}

.ms_HEADER-color {
  background-color: var(--fourth-color);
}

p {
  margin: 0;
}
/* SECTION START YOUR BOOTSTRAP */

#START-BOOTSTRAP {
  background-color: #1abc9c;
  text-align: center;
  color: white;
  line-height: 30px;
  padding: 0 20px;
}

#START-BOOTSTRAP i {
  color: var(--primary-color);
}

#START-BOOTSTRAP img {
  width: 100%;
  height: 100%;
}

/* PORTFOLIO */

#PORTFOLIO {
  text-align: center;
  padding: 2px;
}

/* ABOUT */

#ABOUT {
  background-color: #1abc9c;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

#ABOUT i {
  color: white;
}

.ms_fortext {
  text-align: center;
  color: white;
  width: 100%;
}

/* CONTACT ME */

#CONTACT-ME {
  padding: 1.5rem;
}
